.App {
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  font-family: inherit; /* Inherit from root */

  background-image: url('./assets/gum-clouds.jpg');
  background-size: cover; /* or cover, depending on the scaling behavior you want */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
  image-rendering: pixelated; /* Ensure pixel-art scaling */
  width: 100%; /* Ensure it spans the container */
  height: 100vh; /* Full viewport height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2A363B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
    overflow-y: auto; /* Allows vertical scrolling if the list gets long */
    max-height: 100%;  /* Ensures the content doesn't overflow outside of its container */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Yoster Island';
  src: url('./yoster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* src/App.css or a global CSS file */
html, body {
  font-family: 'Geo', Arial, sans-serif;
}
